/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
*{
  color: #495057;
}

a {
  text-decoration:none;
  color: #495057;
}

.btn-outline-light{
  border: 1px solid #ced4da;
  color: #495057;
  width: 100%;
}

li {
  list-style: none;
}

.application_header {
  max-height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 16px;
}

.application_header_text {
  line-height: 50px;
}

.registrations_new_label_password {
  margin: 0;
}

.form-control.was-validated{
  border-color: #dc3545;
}

.form-control.was-invalidated{
  border-color: #198754;
}

.btn.btn-outline-light.was-validated{
  visibility: hidden;
  opacity: 0;
}

.btn.btn-outline-light{
  visibility: none;
  opacity: 1;
  transition: 1s;
}

